# Průměrné teploty

#### Následující tabulka obsahuje průměrné roční teploty v České republice za roky 2001 až 2010 (zdroj: Český hydrometeorologický ústav).


2001	7.8

2002	8.7

2003	8.2

2004	7.8

2005	7.7

2006	8.2

2007	9.1

2008	8.9

2009	8.4

2010	7.2

### Vytvořte reprezentaci této tabulky pomocí seznamu seznamů. Zde existují dvě možnosti. Nejprve vytvořte seznam, který obsahuje řádky tabulky jako dvouprvkové seznamy a uložte jej do proměnné radky. Poté vytvořte seznam, který obsahuje sloupce tabulky, tedy dva seznamy po deseti prvcích. Uložte jej do proměnné sloupce.

### Pro obě tyto reprezentace vyřešte následující úkoly

- Získejte teplotu na třetím řádku tabulky.
- Získejte rok na pátém řádku tabulky.
- Získejte poslední řádek tabulky jako seznam.
- Vytvořte tabulku bez prvních dvou řádků.
- Vytvořte tabulku pouze z prvních dvou řádků.
- Vytvořte tabulku obsahující jen řádky 5, 6, 7, 8 (myšleno při "lidském" číslování, tj. od 1).
- Použitím proměnné sloupce vypište seznam teplot seřazený vzestupně podle velikosti. Šlo by to i pomocí proměnné radky, ale to ještě neumíme.

### Řešení

In [2]:
radky = [
    [2001, 7.8],
    [2002, 8.7],
    [2003, 8.2],
    [2004,7.8],
    [2005,7.7],
    [2006,8.2],
    [2007,9,1],
    [2008,8.9],
    [2009,8.4],
    [2010,7.2]
    ]

sloupce = [
    [2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010],
    [7.8,8.7,8.2,7.8,7.7,8.2,9.1,8.9,8.4,7.2]
    ]

In [3]:
# teplota - hodnota na 3. řádku tabulky

print(radky[2][1])
print(sloupce[1][2])

8.2
8.2

In [4]:
# rok na 5. řádku tabulky

print(radky[4][0])
print(sloupce[0][4])

2005
2005

In [11]:
# získejte poslední řádek tabulky jako seznam

print(radky[-1])

seznam_posledni_rok = []
seznam_posledni_rok.append(sloupce[0][-1])
seznam_posledni_rok.append(sloupce[1][-1])
print(seznam_posledni_rok)

[2010, 7.2]
[2010, 7.2]

In [6]:
# vytvořit tabulku bez prvních 2 řádků

print(radky[2:])
print(sloupce[0][2:], sloupce[1][2:])

[[2003, 8.2], [2004, 7.8], [2005, 7.7], [2006, 8.2], [2007, 9, 1], [2008, 8.9], [2009, 8.4], [2010, 7.2]]
[2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010] [8.2, 7.8, 7.7, 8.2, 9.1, 8.9, 8.4, 7.2]

In [7]:
# vytvořte tabulku z posledních 2 řádků

print(radky[:2])
print(sloupce[0][:2], sloupce[1][:2])

[[2001, 7.8], [2002, 8.7]]
[2001, 2002] [7.8, 8.7]

In [8]:
# tabulka jen s řádky 5,6,7,8

print(radky[4:8])
print(sloupce[0][4:8], sloupce[1][4:8])

[[2005, 7.7], [2006, 8.2], [2007, 9, 1], [2008, 8.9]]
[2005, 2006, 2007, 2008] [7.7, 8.2, 9.1, 8.9]

In [13]:
# pomocí sloupce vypsat teploty vzestupně

print(sorted(sloupce[1]))

[7.2, 7.7, 7.8, 7.8, 8.2, 8.2, 8.4, 8.7, 8.9, 9.1]