# Vláknina

Problémem dnešních potravin je často nedostatek vlákniny. Konzumace potravin bohatých na vlákninu může být pro řadu lidí zdravotně prospěná. Vyhledej v tabulce food_nutrient potraviny, které obsahují alespoň 10 gramů vlákniny. Vláknina je uložená pod názvem Fiber, total dietary. Napiš dotaz jako jeden příkaz a využij operátor &.

### Řešení

In [10]:
import pandas as pd

food_nutrients = pd.read_csv('food_nutrient.csv')
food_nutrients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135336 entries, 0 to 135335
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   fdc_id             135336 non-null  int64
 1   nutrient_id        135336 non-null  int64
 2   amount             135332 non-null  float64
 3   data_points        4162 non-null    float64
 4   derivation_id      132617 non-null  float64
 5   min                418 non-null     float64
 6   max                418 non-null     float64
 7   median             20 non-null      float64
 8   loq                48 non-null      float64
 9   footnote           0 non-null       float64
 10  min_year_acquired  127 non-null     float64
 11  name               135336 non-null  object
 12  unit_name          135336 non-null  object
dtypes: float64(9), int64(2), object(2)
memory usage: 13.4+ MB

In [13]:
# vyfiltruj potraviny s >10 gramy vlákniny

fiber = food_nutrients[(food_nutrients['name'] == 'Fiber, total dietary') & (food_nutrients['amount'] >= 10)]
fiber

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
83639,1109336,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83666,1114461,1079,10.7,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83667,1114961,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83675,1117734,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
83681,1118500,1079,11.1,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91545,2638057,1079,15.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91584,2651678,1079,39.5,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91598,2654454,1079,10.7,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91599,2654695,1079,11.8,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G
91629,2660613,1079,10.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fiber, total dietary",G