# Hlášení chyb

V datech se bohužel můžou vyskytnout i chyby. V případě výživných látek jsou uváděné hodnoty vždy přepočtené na 100 gramů potraviny. Chybou by tedy například bylo, pokud by bylo nějaké výživné látky v potravině více než 100 gramů, tj. výživné látky by bylo více než samotné potraviny. Podobně to platí i pro miligramy. Více než 100 000 miligramů výživné látky též nedává smysl (1 gram = 1 000 miligramů).

Vyhledej všechny řádky, kde jsou hodnoty v miligramech (ve sloupci unit_name je hodnota MG) a množství látky (sloupec amount) má větší hodnotu než 100 000. Ulož tato data do tabulky error_report.csv. K tomu využij metodu .to_csv(), které zadáš jako parametr název tabulky. Níže je příklad jejího použití.

tabulky.to_csv("nazev_souboru.csv")
Takto vytvořenou tabulku bychom mohli poslat poskytovateli dat a požádat ho o opravu.

### Řešení

In [1]:
import pandas as pd

food_nutrients = pd.read_csv('food_nutrient.csv')
food_nutrients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135336 entries, 0 to 135335
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   fdc_id             135336 non-null  int64
 1   nutrient_id        135336 non-null  int64
 2   amount             135332 non-null  float64
 3   data_points        4162 non-null    float64
 4   derivation_id      132617 non-null  float64
 5   min                418 non-null     float64
 6   max                418 non-null     float64
 7   median             20 non-null      float64
 8   loq                48 non-null      float64
 9   footnote           0 non-null       float64
 10  min_year_acquired  127 non-null     float64
 11  name               135336 non-null  object
 12  unit_name          135336 non-null  object
dtypes: float64(9), int64(2), object(2)
memory usage: 13.4+ MB

In [3]:
# řádky, kde jsou hodnoty v miligramech (MG) a množství je > 100 000

errors = food_nutrients[(food_nutrients['unit_name'] == 'MG') & (food_nutrients['amount'] > 100000)]
errors

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
18231,1048385,1092,101770.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Potassium, K",MG
18888,1527945,1092,176991.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Potassium, K",MG
63254,944746,1093,282828.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
65700,1599725,1093,323944.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
67418,1982925,1093,203125.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
68232,2149015,1093,415625.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
69486,2465074,1093,528986.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
69528,2472749,1093,857143.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG
69647,2495397,1093,183333.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Sodium, Na",MG

In [4]:
# ulož errors do error_report.csv

errors.to_csv('error_report.csv')